<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/@taquito/taquito@14.2.0-beta-RC.0/dist/taquito.min.js"
crossorigin="anonymous" integrity="sha384-Hc+2Lpo0sw/WTMMBJlxA++v5OibD6GqNSmVUMKkTsXeF59l+zVmHPwmOgI6Iu34s"></script>
<script src="{{url_for('static', filename='js/pong.js')}}"></script>

<style>
.grid-container {
  display: grid;
  height: 400px;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
</style>
</head>
<body>

<h1>tezong</h1>

<p>Get the best experince by playing PONG by using bolck chain technologies.</p>

<div class="grid-container">
  <div><a href="/game">Table-1</a></div>
  <div><a href="/game">Table-2</a></div>
  <div><a href="/game">Table-3</a></div>
  <div><a href="/game">Table-4</a></div>
  <div><a href="/game">Table-5</a></div>
  <div><a href="/game">Table-6</a></div>
</div>

</body>
</html>


