<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
  display: grid;
  height: 400px;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
</style>
</head>
<body>

<h1>tezong</h1>

<p>Get the best experince by playing PONG by using bolck chain technologies.</p>

<div class="grid-container">
  <div><a href="./game/game.html">Table-1</a></div>
  <div><a href="./game/game.html">Table-2</a></div>
  <div><a href="./game/game.html">Table-3</a></div>
  <div><a href="./game/game.html">Table-4</a></div>
  <div><a href="./game/game.html">Table-5</a></div>
  <div><a href="./game/game.html">Table-6</a></div>
</div>

</body>
</html>


